@import './../../colors'
  
$height: 6vw

.body
  position: relative
  display: flex
  margin-top: 3vh

.formForPrinting
  width: 20%
  height: $height
  margin-left: -3%
  background-color: $window
  transform: skewX(-45deg)

.distinctiveStripe
  width: 3%
  height: $height
  transform: skewX(-45deg)

.headerText
  display: flex
  align-items: center
  position: absolute
  left: 3%
  height: 100%
  font-size: 3vw

.a
  background-color: $basic

.b
  background-color: $second-basic

.c
  background-color: $third-basic

.ta
  color: $basic

.tb
  color: $second-basic

.tc
  color: $third-basic
