@import './../../colors'

.coursesBlock
  margin: 2vw auto 0vw auto
  width: 100%
  display: flex
  justify-content: center
  
.coursesList
  display: flex
  flex-direction: column
  list-style-type: none

.course
  display: flex
  flex-direction: column
  margin-top: 1vw

.courseName
  font-size: 2.5vw
  color: $basic-information
  span
    font-size: 1em
    color: $second-basic
  abbr 
    font-size: 1em
  @media screen and (orientation: portrait)
    font-size: 3.4vw

.factAboutCourse
  display: flex
  flex-direction: column
  li 
    display: flex
    flex-direction: column
    margin-left: 4%
    span
      font-size: 1.5vw
      color: $second-basic
  @media screen and (orientation: portrait)
    li
      span
        font-size: 2.5vw

.fact
  margin-left: 2%
  font-size: 2.1vw
  color: $second-basic
  @media screen and (orientation: portrait)
    font-size: 3vw
