@import './../../colors'

.body
  margin: 2vh auto 0px auto
  color: $basic-information
  width: 90%

.header
  display: flex
  align-items: center
  img
    width: 10vw
    height: 10vw
  h1
    margin-left: 3%
    font-size: 4vw
    @media screen and (orientation: portrait)
      font-size: 6vw

.reviewText
  border-radius: 1vw 3vw 3vw 3vw
  background-color: $window
  span
    font-size: 2vw
    display: block
    padding: 2vw 2vw 2vw 2vw
    @media screen and (orientation: portrait)
      font-size: 4vw
      padding: 4vw 4vw 4vw 4vw
